// Reset

body {
  padding-top: 75px;
}

.navbar-social-media {
  position: absolute;
  right: 1rem;
}

h4,
.h4 {
  font-family: "Neou", sans-serif;
}

.card {
  background: none;
  border: 2px solid $primary;
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.wpcf7-submit {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;

  width: 100%;
  margin-top: 1rem;
}

.btn-lg {
  padding: 1rem;
}

// Sections

.hero {
  background-image: url('../images/background/hero.png');
  background-size: cover;

  .hands-hero {
    background: $dark;
    border-radius: 50%;
    opacity: 0.8;
    display: inline-block;
    padding: 1.5rem;
  }
}

.experience .row {
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
  }
}

.venue .row {
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;

    &:hover {
      -webkit-filter: none;
      filter: none;
    }
  }
}

.venue {
  margin-top: -15rem;
  padding-top: 12rem;
  background-image: url('../images/background/venue.png');
  background-size: cover;
}

.page {
  background-image: url('../images/background/experience.png');
  background-size: cover;
}

.experience {
  margin-top: -15rem;
  padding-top: 12rem;
  background-image: url('../images/background/experience.png');
  background-size: cover;

  .hands-container {
    position: relative;

    .hands {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 20s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: rotate;
      -moz-animation-duration: 20s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
    }

    .line-up-container {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;

      .line-up {
        background: $pink;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding: 1rem;
      }
    }

    @-webkit-keyframes rotate {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
    }

    @-moz-keyframes rotate {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
    }
  }
}

// Exclude Desktop

@include media-breakpoint-down(md) {
  .web-apply {
    display: none !important;
  }

  .navbar-nav {
    align-items: flex-start !important;
  }

  .experience .hands-container .line-up-container {
    top: 30%;

    .line-up {
      width: 200px;
      height: 200px;
    }
  }

  .mobile-apply {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
}

// Only Desktop

@include media-breakpoint-up(lg) {
  .navbar .nav-item {
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 2px solid $primary;
    }
  }

  .card {
    &.left-card {
      border-right: 0;
    }

    &.right-card {
      border-left: 0;
    }
  }

  .floating-apply {
    position: fixed;
    bottom: 50%;
    right: -5%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}

// Only Desktop

@media (min-width: 1500px) {
  .floating-apply {
    right: 0%;
  }
}
